{% extends "robertinha/base.html" %}
{% block content %}

<style>
    /* Estilos CSS personalizados para a página */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #333;
    }

    p {
        margin-bottom: 10px;
        font-size: 16px;
    }

    h2 {
        color: #333;
        margin-top: 20px;
    }

    form {
        margin-top: 20px;
    }

    button[type="submit"] {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
    <h1>{{ titulo }}</h1>
    <p>{{ passo }}</p>
    <p>O texto em upper() é: {{ resposta }}</p>
    <p>O método que veio foi um tipo {{ metodo }}</p>
    <p>O seu endereço IP é {{ ip_address }}</p>

    <h2>Formulário de Contato</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
</div>

{% endblock %}
