{% extends "robertinha/base.html" %}
{% block content %}

<h2> Novo dicionário </h2>
<table border="1">
    <tr>
        <th>ID Produto</th>
        <th>Nome do Produto</th>
        <th>Nome do Fornecedor</th>
        <th>Nome da Categoria</th>
        <th>Localização</th>
        <th>Saldo em estoque</th>

    </tr>
    {% for id_produto, produto_info in novoDic.items %}
    <tr>
        <td>{{ id_produto }}</td>
        <td>{{ produto_info.Produto }}</td>
        <td>{{ produto_info.Fornecedor }}</td>
        <td>{{ produto_info.Categoria }}</td>
        <td>{{ produto_info.Localização}}</td>
        <td>{{ produto_info.Saldo}}</td>

    </tr>
    {% endfor %}
</table>

{% endblock %}
